body {
    background-color: #222222;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

a {
    color: #3498db;
    text-decoration: none;
}

.instagram-link {
    display: inline-block;
    width: 30px; /* Adjust the width and height according to your icon size */
    height: 30px;
    background: url('https://images.app.goo.gl/Kvh6YiaassztoMnQ7') no-repeat center center;
    background-size: cover; /* Ensures the image covers the entire space */
    text-indent: -9999px; /* Hides the text */
}